In [34]:
pip install -r requirements.txt

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'

In [35]:
pip install pandas
pip install numpy

SyntaxError: invalid syntax (194908099.py, line 1)

In [1]:
1+1

2

# test

## 문제 1. 
- 변수 a에 정수 10을, 변수 b에 실수 5.5를 할당하고, 두 변수를 더한 결과의 데이터 타입을 출력하세요.

In [3]:
a = int(10)
b = float(5.5)
type(a+b)

float

## 문제 2
- 문자열 "100"과 정수 50을 더하려고 할 때 발생하는 오류를 설명하고, 이를 해결하는 방법을 보여주세요.

In [4]:
a = "100"
b = int(50)
a+b

TypeError: can only concatenate str (not "int") to str

In [5]:
# 오류 설명: type error가 발생한다. string과 int는 다른 type으로 더할 수 없다.
# 해결법: 자료 행변환으로 문자인 a를 정수로 변환한다
a = int("100")
b = int(50)
a+b

150

## 문제 3. 
- 리스트 [1, 2, 3]와 튜플 (4, 5, 6)을 더할 수 있는지 확인하고, 가능하다면 결과를 출력하세요.

In [6]:
[1, 2, 3] + (4, 5, 6)

TypeError: can only concatenate list (not "tuple") to list

In [8]:
# tuple 은 요소 변경 수정 등이 불가능 하다.. 그래서 더할 수 없는 거 맞나?

## 문제 4. 
- 변수 x에 None을 할당하고, 이를 다른 데이터 타입으로 변환할 수 있는지 확인하세요.

In [9]:
x = None
type(x)

NoneType

In [10]:
type(list(x))

TypeError: 'NoneType' object is not iterable

In [11]:
type(str(x))

str

In [12]:
# 문자로는 가능한가?

## 문제 5. 
- 변수 a에 정수 3을 할당하고, 이를 부동 소수점 숫자 3.0으로 자동 변환하도록 하세요.

In [13]:
a = int(3)
float(a)

3.0

## 문제 6. 
- 변수 s에 문자열 "Hello"를 할당하고, 이를 3번 반복한 결과의 데이터 타입을 확인하세요.

In [16]:
s = "Hello"
for i in range(3):
    result = print(s)
type(result)

Hello
Hello
Hello

NoneType

## 문제 7. 
- 변수 x에 정수 7을 할당하고, 이를 문자열로 변환한 후 문자열 "3"과 더해보세요.

In [17]:
x = str(int(7))
x+"3"

'73'

In [18]:
type(x)

str

## 문제 8. 
- 변수 a에 True, 변수 b에 False를 할당하고, 두 값을 더한 결과와 그 데이터 타입을 확인하세요.

In [19]:
a = True
b = False
print(a+b)
type(a+b)

1

int

## 문제 9. 
- 변수 a에 25를 할당하고, 이 값을 0.5로 나눈 결과와 그 데이터 타입을 확인하세요.

In [28]:
a = 25
result=a/0.5
print(result)
type(result)

50.0

float

In [23]:
a/0.5

50.0

In [26]:
result=a/0.5

In [27]:
print(result)

50.0

## 문제 10. 
- 변수 text에 문자열 "12345"를 할당하고, 이를 정수형으로 변환한 후, 10을 더한 결과를 출력하세요.

In [30]:
text = "12345"
result = int(text) + 10
print(result)

12355

## 문제 11. 
- 리스트 [10, 20, 30, 40, 50]에서 가장 큰 값을 찾아서 출력하세요.

In [36]:
a = [10, 20, 30, 40, 50]
a[4]

50

## 문제 12. 
- 리스트 [1, 2, 3, 4, 5]에서 모든 요소를 더한 결과를 출력하세요.

In [37]:
a = [1, 2, 3, 4, 5]
a[0]+a[1]+a[2]+a[3]+a[4]

15

In [ ]:
for x

## 문제 13. 
- 튜플 (5, 10, 15, 20)에서 두 번째 요소를 출력하세요.

In [38]:
a = (5, 10, 15, 20)
a[1]

10

## 문제 14. 
- 튜플 (1, 2, 3)와 (4, 5, 6)을 합쳐서 새로운 튜플을 만들고 출력하세요.

In [39]:
a = (1, 2, 3)
b = (4, 5, 6)
a+b

(1, 2, 3, 4, 5, 6)

## 문제 15. 
- 딕셔너리 {'a': 1, 'b': 2, 'c': 3}에서 키 'b'의 값을 10으로 변경하고 출력하세요.

In [40]:
dict =  {
    'a': 1, 
    'b': 2, 
    'c': 3
}

dict['b']=[10]
dict

{'a': 1, 'b': [10], 'c': 3}

## 문제 16.
- 딕셔너리 {'name': 'Alice', 'age': 25, 'city': 'New York'}에서 모든 키를 출력하세요.

## 문제 17. 
- while 루프를 사용하여 1부터 5까지의 숫자를 출력하세요.

## 문제 18. 
- while 루프를 사용하여 10부터 1까지 거꾸로 숫자를 출력하세요.

## 문제 19. 
- for 루프를 사용하여 리스트 [2, 4, 6, 8, 10]의 각 요소에 2를 곱한 값을 출력하세요.

## 문제 20. 
- for 루프를 사용하여 문자열 "Python"의 각 문자를 출력하세요.

# 오후 1 | 사용자 정의 함수 이어서

In [43]:
def my_1st_func():
    print("안녕하세요")
    print("반갑습니다")
print(my_1st_func)

<function my_1st_func at 0x00000162707DDF80>

## 인자(인수)는 있으나 반환 값이 함수

In [45]:
def my_friend(name):
    print(f"{name}는 나의 친구 입니다.")
    print("{}는 나의 친구 입니다.".format(name))
my_friend("철수")
my_friend("길동")

철수는 나의 친구 입니다.
철수는 나의 친구 입니다.
길동는 나의 친구 입니다.
길동는 나의 친구 입니다.

In [46]:
my_friend()

TypeError: my_friend() missing 1 required positional argument: 'name'

In [48]:
# TypeError: my_friend() missing 1 required positional argument: 'name'
# 아 내가 필수 적으로 입력해야 할 걸 입력 안했구나

In [49]:
import pandas as pd

In [50]:
import numpy as np

In [51]:
pd.read_csv()

TypeError: read_csv() missing 1 required positional argument: 'filepath_or_buffer'

In [52]:
# TypeError: read_csv() missing 1 required positional argument: 'filepath_or_buffer'
# 필수적으로 입력해야하는 걸 입력 안했다는 뜻

## 인자(인수)는 있으나 반환 값이 있는 함수

In [53]:
def my_calc(x, y):
    z=x*y
    return z

In [54]:
my_calc(3,4)

12

## 변수의 유효 범위
- 키워드 : 전역 변수, 지역 변수

In [57]:
a = 5 # 전역 변수

def func1():
    a=1 # 지역변수
    print("[func1] 지역 변수 a =", a)

In [56]:
func1()

[func1] 지역 변수 a = 1

In [58]:
a

5

In [59]:
a = 5 # 전역 변수

def func1():
    a=1 # 지역변수
    print("[func1] 지역 변수 a =", a)

def func2():
    a=2 # 지역변수
    print("[func2] 지역 변수 a =", a)

In [60]:
func1()
func2()

[func1] 지역 변수 a = 1
[func2] 지역 변수 a = 2

In [61]:
a

5

In [62]:
a = 5 # 전역 변수

def func1():
    a=1 # 지역변수
    print("[func1] 지역 변수 a =", a)

def func2():
    a=2 # 지역변수
    print("[func2] 지역 변수 a =", a)

def func3():
    print("[func3] 지역 변수 a =", a)

In [63]:
func1()
func2()
func3()

[func1] 지역 변수 a = 1
[func2] 지역 변수 a = 2
[func3] 지역 변수 a = 5

In [64]:
func1()
func2()
print("전역 변수 a=", a)

[func1] 지역 변수 a = 1
[func2] 지역 변수 a = 2
전역 변수 a= 5

In [67]:
a = 5 # 전역 변수

def func1():
    a=1 # 지역변수
    print("[func1] 지역 변수 a =", a)

def func2():
    a=2 # 지역변수
    print("[func2] 지역 변수 a =", a)

def func3():
    print("[func3] 지역 변수 a =", a)

def func4():
    global a # 함수 내에서 전역 변수 변경 위해 선언
    a=4
    print("[func4] 전역 변수 a =", a) # 전역변수 출력

In [68]:
func3()
func4()

[func3] 지역 변수 a = 5
[func4] 전역 변수 a = 4

In [69]:
func3()

[func3] 지역 변수 a = 4

In [70]:
c = 1 

def add():
    c = c + 2
    print(c)
add()

UnboundLocalError: cannot access local variable 'c' where it is not associated with a value

In [71]:
# UnboundLocalError: cannot access local variable 'c' where it is not associated with a value
# 변수가 안된 거

In [73]:
# 해결
c = 1 

def add():
    global c # 함수 안의 c가 원래 지역 변수를 원래대로 만들어 놓은게 없어서 실행이 안된건데 glbal c 를 하면 함수 내에 c를 전역변수로 사용하겠따는 거여
    c = c + 2
    print(c)
add()

3

## 가변인수 예제
- 학생의 점수를 입력 받아 평균 점수를 계산하는 함수
  + 문제점: 각 학생들마다 시험 본 과목 수가 다 다름
    - A: 3과목
    - B: 2과목
    - C: 5과목

In [74]:
def calculate_average(name, *scores): # *scores : 이 모양이 가변인수ㅅ
    if scores:  # 가변 인수가 비어있지 않은지 확인
        average_score = sum(scores) / len(scores)
        print(f"{name}의 평균 점수는 {average_score:.2f}점입니다.") # .2f: 문자열 포맷팅 내용 소수점 둘째 자리 까지 표현하는 것
    else:
        print(f"{name}의 점수를 입력하지 않았습니다.")

In [75]:
calculate_average("Lynn", 10, 20, 30)

Lynn의 평균 점수는 20.00점입니다.

In [76]:
calculate_average("Lynn", 10, 28)

Lynn의 평균 점수는 19.00점입니다.

In [77]:
calculate_average("Lynn")

Lynn의 점수를 입력하지 않았습니다.

In [78]:
def calculate_average(name, *scores): # *scores : 이 모양이 가변인수ㅅ
    print(type(scores))
    if scores:  # 가변 인수가 비어있지 않은지 확인
        average_score = sum(scores) / len(scores)
        print(f"{name}의 평균 점수는 {average_score:.2f}점입니다.") # .2f: 문자열 포맷팅 내용 소수점 둘째 자리 까지 표현하는 것
    else:
        print(f"{name}의 점수를 입력하지 않았습니다.")

In [79]:
calculate_average("Lynn", 10, 20, 30)

<class 'tuple'>
Lynn의 평균 점수는 20.00점입니다.

In [80]:
# 가변인수로 값을 받아서 튜플로 처리한다.

In [81]:
# 가변 인수를 쓰지 않는다면?
def calculate_average(name, *scores):
    print(type(scores))
    if scores:  # 가변 인수가 비어있지 않은지 확인
        average_score = sum(scores) / len(scores)
        print(f"{name}의 평균 점수는 {average_score:.2f}점입니다.")
    else:
        print(f"{name}의 점수를 입력하지 않았습니다.")

## 키워드 인수 확인 예제
- 학생의 이름 과목별 점수 그리고 학년을 받아 학생의 성적 출력하는 함수
  + 고정인수: 학생 이름
  + 가변 인수: 여러 개의 과목 점수 *
  + 키워드 인수: 학년 정보 **

In [85]:
# def student_report(name, *args, **kwargs):
# args , kwargs 가 가변인수 , 키워드 인수 일 때 보통 쓰는 단어
# 공식 문서 같은거 보면 그렇게 나와있는 경우 있음

In [83]:
def student_report(name, *scores, **details):
    print(f"학생 이름: {name}")

    # 점수가 입력된 경우에만 평균을 계산
    if scores:
        average_score = sum(scores) / len(scores)
        print(f"평균 점수: {average_score:.2f}")
    else:
        print("점수를 입력하지 않았습니다.")

    # 키워드 인수로 전달된 추가 정보를 출력
    for key, value in details.items():
        print(f"{key}: {value}")

# 함수 호출 예제
student_report("Alice", 88, 92, 85, grade="2학년", school="Seoul High School")
print("\n")
student_report("Bob", 75, 80, 78, 90, grade="3학년", school="Busan High School", hobby="축구")
print("\n")
student_report("Charlie", grade="1학년")

학생 이름: Alice
평균 점수: 88.33
grade: 2학년
school: Seoul High School


학생 이름: Bob
평균 점수: 80.75
grade: 3학년
school: Busan High School
hobby: 축구


학생 이름: Charlie
점수를 입력하지 않았습니다.
grade: 1학년

In [84]:
# scores는 튜플로, details는 딕셔너리로 떨어짐.

## 람다 함수 lambda

In [87]:
(lambda x: x **2)(5)

25

In [88]:
mySquare = lambda x: x **2
mySquare(5)
# 사용자 정의 함수 처럼 쓸 수가 있음
# 독립적으로 쓸 일 은 없음. 다른 라이ㅡㅂ러리 메섣 ㅡ 안에서 씀
# 복잡한 건 def로 해야함

25

In [89]:
sampleFunc = lambda x, y, z: x**2+3*y+z
sampleFunc(1, 2, 3)

10

# 오후 2 | Context Manager, Decorator
- 클로저 Closure
  + 함수 안에 또 다른 함수 생성 (일단 넘어 가는데, 기초 문법 잘 하고 싶으면 꼭 연습 할 것)
- context manager 잘 쓰면 성능 측정 나중에 할 때 잘 쓸 수 있음

In [90]:
import time

def time_decorator(func):
    def wrapper(*args, **kwargs):
        start_time = time.time()
        result = func(*args, **kwargs)
        end_time = time.time()
        print(f"Function '{func.__name__}' executed in {end_time - start_time:.4f} seconds")
        return result
    return wrapper

@time_decorator # @ 를 써서 위에서 정의한 함수 호출 한 것임
def slow_function():
    time.sleep(2)
    return "Finished"

# 사용 예시
slow_function()

Function 'slow_function' executed in 2.0004 seconds

'Finished'

##### 코드가 돌아가는 시간 측정하는 함수임 
- time_decorator를 def 로 해놓고 나면
- 내가 만든 다른 def 함수 위에 @time_decorator 만 호ㅜㄹ하면 성능 다 볼 수 있음
- wra

# 오후 3 | 클래스 왕기초 !

In [91]:
class 책:
    title = None
    author = None
    pages = 0
    price = 0
    discount = 0

# 인스턴스 생성
책01호 = 책()
책01호

In [92]:
# 인스턴스 생성
책02호 = 책()
책02호

In [93]:
# 둘 다 책으로 나왔다
# class 책:
#    title = None
#    author = None
#    pages = 0
#    price = 0
#    discount = 0
#를 참조하고 있는 것

# 책 at 뒤에 번호가 다르다. 둘은 다른 거다???ㅇㅇㅇ

In [94]:
class 책:
    title = None
    author = None
    pages = 0
    price = 0
    discount = 0

# 인스턴스 생성
책01호 = 책()
책01호.title = "Streamlit" # title을 부여한 것

print(책01호.title) # 저장된 값을 호출

Streamlit

In [95]:
# 인스턴스 생성
책02호 = 책()
책02호.TITLE = "Python"

print(책02호.TITLE) # 저장된 값을 호출

Python

In [96]:
# 대소문자가 다름에도 잘됨.
# 이게 문제! 그래서 이 방식으로 안함

In [98]:
class 책:
    title = None
    author = None
    pages = 0
    price = 0
    discount = 0

# 인스턴스 생성
책01호 = 책()
책01호.title = "Streamlit" # title을 부여한 것
책01호.author = "Evan"
책01호.pages = 560
책01호.price = 40000
책01호.discount = 10

print(책01호.title, 책01호.author) # 저장된 값을 호출

Streamlit Evan

In [100]:
class 책:
    title = None
    author = None
    pages = 0
    price = 0
    discount = 0

# 인스턴스 생성
책02호 = 책()
책02호.title = "Python" # title을 부여한 것
책02호.author = "Evan"
책02호.pages = 560
책02호.price = 40000
책02호.discount = 10

print(책02호.title) # 저장된 값을 호출


# .title, .author 이거 반복해서 적는거 이상하게 느껴야함
# 코딩할 떄 이렇게 반복해서 막 적는거 불편하게 생각하고 이렇게 만들면 안 좋아함.
# 그럼 어케 만드냐냐

Python

In [102]:
# 메서드를 만들자

class 책:
    title = None       # 속성 state
    author = None      # 속성
    pages = 0          # 속성
    price = 0          # 속성
    discount = 0       # 속성

    def 읽는시간(self, reading_speed = 30):  # self: 내 ?? 못들어땨 꼭 써야함 암튼ㅇ
        return round(self.pages / reading_speed, 1)

In [103]:
# 인스턴스 생성
책01호 = 책()
책01호.title = "Streamlit" # title을 부여한 것
책01호.author = "Evan"
책01호.pages = 560
책01호.price = 40000
책01호.discount = 10

print(책01호.title, 책01호.author) # 저장된 값을 호출
출력값 = 책01호.읽는시간()
print(출력값)

Streamlit Evan
18.7

In [104]:
# 인스턴스 생성
책01호 = 책()
책01호.title = "Streamlit" # title을 부여한 것
책01호.author = "Evan"
책01호.pages = 560
책01호.price = 40000
책01호.discount = 10

print(책01호.title, 책01호.author) # 저장된 값을 호출
출력값 = 책01호.읽는시간(reading_speed=5)
print(출력값)

Streamlit Evan
112.0

## 코드 업데이트 ! 
- 클래스 작성시 권장

In [110]:
class 책():
    # initialize: 초기화
    def __init__(self, title, author, pages, price, discount_rate=0): # 여기에는 0으로 지정해도 ㄱㅊ, 다른 값 들어올 수 있음
        self.title = title # 책의 제목
        self.author = author
        self.pages = pages
        self.price = price
        self.discount_rate = 0   # 고정값 0으로 준것, 값 입력해도, 0으로 고정되어있는 것

In [111]:
책01호 = 책("샘플", "Lynn", 300, 20000, 0.1) # 인스턴스 이렇게 작성하면 된다ㅅ
책02호 = 책("샘플2", "Lynn1", 400, 20000, 0.1)
책03호 = 책("샘플3", "Lynn2", 500, 20000, 0.1)
책04호 = 책("샘플4", "Lynn3", 600, 20000, 0.1)
책01호.title, 책02호.title, 책03호.author

('샘플', '샘플2', 'Lynn2')

In [116]:
class 책():
    # initialize: 초기화
    def __init__(self, title, author, pages, price, discount_rate=0):
        self.title = title # 책의 제목
        self.author = author
        self.pages = pages
        self.price = price
        self.discount_rate = discount_rate

    def reading_time(self, reading_speed = 30):
        return round(self.pages / reading_speed,1)

    def apply_discount(self):
        return self.price*(1-self.discount_rate)

In [117]:
책01호 = 책("샘플", "Lynn", 300, 20000, 0.1) # 인스턴스 이렇게 작성하면 된다ㅅ
책02호 = 책("샘플2", "Lynn1", 400, 20000, 0.1)
책03호 = 책("샘플3", "Lynn2", 500, 20000, 0.1)
책04호 = 책("샘플4", "Lynn3", 600, 20000, 0.1)
책01호.title, 책02호.title, 책03호.author

('샘플', '샘플2', 'Lynn2')

In [118]:
책01호 = 책("샘플", "Evan", 300, 20000, 0.1)
책01호.reading_time()

10.0