In [34]:
pip install -r requirements.txt

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'

In [35]:
pip install pandas
pip install numpy

SyntaxError: invalid syntax (194908099.py, line 1)

In [1]:
1+1

2

# test

## 문제 1. 
- 변수 a에 정수 10을, 변수 b에 실수 5.5를 할당하고, 두 변수를 더한 결과의 데이터 타입을 출력하세요.

In [3]:
a = int(10)
b = float(5.5)
type(a+b)

float

## 문제 2
- 문자열 "100"과 정수 50을 더하려고 할 때 발생하는 오류를 설명하고, 이를 해결하는 방법을 보여주세요.

In [4]:
a = "100"
b = int(50)
a+b

TypeError: can only concatenate str (not "int") to str

In [5]:
# 오류 설명: type error가 발생한다. string과 int는 다른 type으로 더할 수 없다.
# 해결법: 자료 행변환으로 문자인 a를 정수로 변환한다
a = int("100")
b = int(50)
a+b

150

## 문제 3. 
- 리스트 [1, 2, 3]와 튜플 (4, 5, 6)을 더할 수 있는지 확인하고, 가능하다면 결과를 출력하세요.

In [6]:
[1, 2, 3] + (4, 5, 6)

TypeError: can only concatenate list (not "tuple") to list

In [8]:
# tuple 은 요소 변경 수정 등이 불가능 하다.. 그래서 더할 수 없는 거 맞나?

## 문제 4. 
- 변수 x에 None을 할당하고, 이를 다른 데이터 타입으로 변환할 수 있는지 확인하세요.

In [9]:
x = None
type(x)

NoneType

In [10]:
type(list(x))

TypeError: 'NoneType' object is not iterable

In [11]:
type(str(x))

str

In [12]:
# 문자로는 가능한가?

## 문제 5. 
- 변수 a에 정수 3을 할당하고, 이를 부동 소수점 숫자 3.0으로 자동 변환하도록 하세요.

In [13]:
a = int(3)
float(a)

3.0

## 문제 6. 
- 변수 s에 문자열 "Hello"를 할당하고, 이를 3번 반복한 결과의 데이터 타입을 확인하세요.

In [16]:
s = "Hello"
for i in range(3):
    result = print(s)
type(result)

Hello
Hello
Hello

NoneType

## 문제 7. 
- 변수 x에 정수 7을 할당하고, 이를 문자열로 변환한 후 문자열 "3"과 더해보세요.

In [17]:
x = str(int(7))
x+"3"

'73'

In [18]:
type(x)

str

## 문제 8. 
- 변수 a에 True, 변수 b에 False를 할당하고, 두 값을 더한 결과와 그 데이터 타입을 확인하세요.

In [19]:
a = True
b = False
print(a+b)
type(a+b)

1

int

## 문제 9. 
- 변수 a에 25를 할당하고, 이 값을 0.5로 나눈 결과와 그 데이터 타입을 확인하세요.

In [28]:
a = 25
result=a/0.5
print(result)
type(result)

50.0

float

In [23]:
a/0.5

50.0

In [26]:
result=a/0.5

In [27]:
print(result)

50.0

## 문제 10. 
- 변수 text에 문자열 "12345"를 할당하고, 이를 정수형으로 변환한 후, 10을 더한 결과를 출력하세요.

In [30]:
text = "12345"
result = int(text) + 10
print(result)

12355

## 문제 11. 
- 리스트 [10, 20, 30, 40, 50]에서 가장 큰 값을 찾아서 출력하세요.

In [36]:
a = [10, 20, 30, 40, 50]
a[4]

50

## 문제 12. 
- 리스트 [1, 2, 3, 4, 5]에서 모든 요소를 더한 결과를 출력하세요.

In [37]:
a = [1, 2, 3, 4, 5]
a[0]+a[1]+a[2]+a[3]+a[4]

15

In [ ]:
for x

## 문제 13. 
- 튜플 (5, 10, 15, 20)에서 두 번째 요소를 출력하세요.

In [38]:
a = (5, 10, 15, 20)
a[1]

10

## 문제 14. 
- 튜플 (1, 2, 3)와 (4, 5, 6)을 합쳐서 새로운 튜플을 만들고 출력하세요.

In [39]:
a = (1, 2, 3)
b = (4, 5, 6)
a+b

(1, 2, 3, 4, 5, 6)

## 문제 15. 
- 딕셔너리 {'a': 1, 'b': 2, 'c': 3}에서 키 'b'의 값을 10으로 변경하고 출력하세요.

In [40]:
dict =  {
    'a': 1, 
    'b': 2, 
    'c': 3
}

dict['b']=[10]
dict

{'a': 1, 'b': [10], 'c': 3}

## 문제 16.
- 딕셔너리 {'name': 'Alice', 'age': 25, 'city': 'New York'}에서 모든 키를 출력하세요.

## 문제 17. 
- while 루프를 사용하여 1부터 5까지의 숫자를 출력하세요.

## 문제 18. 
- while 루프를 사용하여 10부터 1까지 거꾸로 숫자를 출력하세요.

## 문제 19. 
- for 루프를 사용하여 리스트 [2, 4, 6, 8, 10]의 각 요소에 2를 곱한 값을 출력하세요.

## 문제 20. 
- for 루프를 사용하여 문자열 "Python"의 각 문자를 출력하세요.

# 오후 1 | 사용자 정의 함수 이어서

In [43]:
def my_1st_func():
    print("안녕하세요")
    print("반갑습니다")
print(my_1st_func)

<function my_1st_func at 0x00000162707DDF80>

## 인자(인수)는 있으나 반환 값이 함수

In [45]:
def my_friend(name):
    print(f"{name}는 나의 친구 입니다.")
    print("{}는 나의 친구 입니다.".format(name))
my_friend("철수")
my_friend("길동")

철수는 나의 친구 입니다.
철수는 나의 친구 입니다.
길동는 나의 친구 입니다.
길동는 나의 친구 입니다.

In [46]:
my_friend()

TypeError: my_friend() missing 1 required positional argument: 'name'

In [48]:
# TypeError: my_friend() missing 1 required positional argument: 'name'
# 아 내가 필수 적으로 입력해야 할 걸 입력 안했구나

In [49]:
import pandas as pd

In [50]:
import numpy as np

In [51]:
pd.read_csv()

TypeError: read_csv() missing 1 required positional argument: 'filepath_or_buffer'

In [52]:
# TypeError: read_csv() missing 1 required positional argument: 'filepath_or_buffer'
# 필수적으로 입력해야하는 걸 입력 안했다는 뜻

## 인자(인수)는 있으나 반환 값이 있는 함수

In [53]:
def my_calc(x, y):
    z=x*y
    return z

In [54]:
my_calc(3,4)

12